
<h1>Все курсы Академии</h1>
<form action="http://localhost:3000/courses/add" method="post">
    <fieldset class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Введите имя курса">
        <small class="text-muted">Добавте свой новый курс</small>
    </fieldset>
    <button class="btn btn-primary" type="submit">Сохранить курс</button>
    <a href="/courses" class="btn btn-default">Отмена</a>
</form>